<body>
<div class="init">
  
<div class="wrapper">

  <div class="logo">DBJ</div>
  <div class="nav">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li>Soporte</li>

        </ul>
  </div>
</div>
</div>


<div class="row">
  <div *ngFor="let data of coord"> 
    <div class="coord_map" >
        <h3>
            Coordenadas
          </h3>
          <div class=row>
              <div class="date">
                  <h5>
                  Latitud: {{ data.latitud }}
                  </h5>
              </div>
              <div class="date">
                  <h5>
                    Longitud: {{ data.longitud }}
                  </h5>
            </div>
              <div class="date">
                  <h5>
                    Fecha: {{ data.fecha }}
                  </h5>
            </div>
          </div>
          
          
          
          
    </div>
    
  </div>
  
</div>
<div class=Slider *ngIf="sliderdiv"> 
      
    <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
   
   </div>

<div class="row">
    <div class="button-style">
      <button class="btn btn-info" (click)="show=false; data(); live=true">Live</button>
    </div>
  
    <div class="button-style">
        <button class="btn btn-info" (click)="show=true">Historicos</button>
    </div>
  
</div>
<ngb-alert *ngIf='noexist' [dismissible]="false">
  <strong>Información:</strong> No existe datos en las fechas ingresadas.
</ngb-alert>

<div class="history" *ngIf="show">

  <div class="row">
    <div class="date">
      <p>
        Fecha de Inicio
      </p>
    
      <ngb-datepicker #dp [(ngModel)]="model1" (navigate)="date1 = $event.next"></ngb-datepicker>
      
      <p>
          Hora Inicial
      </p>
      <ngb-timepicker [(ngModel)]="time1" [seconds]="false"></ngb-timepicker>
    </div>

    <div class="date">
        <p>
          Fecha Final
        </p>
      
        <ngb-datepicker #dp [(ngModel)]="model2" (navigate)="date2 = $event.next"></ngb-datepicker>
        <p>
            Hora Final
        </p>
        <ngb-timepicker [(ngModel)]="time2" [seconds]="false"></ngb-timepicker>
      </div>

      
  </div>
  <hr/>    
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="between();live=false;buscar=true">Buscar</button>

  <hr/>
  <ngb-alert *ngIf="warning" [dismissible]="false">
    <strong>Advertencia!</strong> Ingrese un rango de fecha correcta.
  </ngb-alert>
</div>

<div #gmap style="width:100%;height:100%"></div>
</body>


